body{
    background-color:#edecec;
    margin:0;
    margin-left:30px;
  }
  
  nav
  {
      width:100%;
      height:70px;
      margin-top:20px;
  }
  
  
  a{
      float:left;
      padding:30px;
      text-decoration:none;
      color:#3a4555;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 20px;
  }
  
  a:hover
  {
    color:#f7b42d;
  
  }

  h1
  {
    font-size:40px;
  font-family: 'Yuji Syuku', serif;
}

h2{
    font-family: 'Yuji Syuku', serif;
    font-size:30px;
}

li{
    font-size: 20px;
}

* {box-sizing:border-box}


.container {
  width: 50%; 
  background-color:#3a4555;
}

.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: white; 
}

.html {width: 50%; background-color: #e945aa;}
.css {width: 50%; background-color: #e945aa;} 
.js {width: 30%; background-color: #e945aa;} 
.python {width: 20%; background-color: #e945aa;} 