body{
  background: linear-gradient(
    to right,
    /*where color stops*/ 
    #faf9e8 0%, 
    #faf9e8 50%, 
    #dee1fa 50%, 
    #dee1fa 100%
     );
  }
  

  nav{
    position: fixed;
      width:100%;
      height:70px;
      margin-top:20px;
      
  }
 

  a{
    float:left;
      padding:30px;
      text-decoration:none;
      color:#3a4555;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 20px;
  }
  
  a:hover
  {
    color:#f5abcf;
  
  }

table{
  margin-top:0;
  clear: both;
  width:100%;
  height:100vh;
  border: solid 2px red;
}

.row{
  clear: both;
  display:flex;
  
}

.column{
  
  clear: both;
  width:50%;
  flex:50%;
  padding: 20px;
}

td{
  text-align:center;
}

  h1
  {
    font-size:40px;
  font-family: 'Yuji Syuku', serif;}
  

p{
  font-size:60px;
  font-family: 'Satisfy', cursive;
}

  p1{
    font-size:25px;
    font-family: 'EB Garamond', serif;
  }
  
  /*
  .intro
  {
    margin-left:20px;
    margin-top:150px;
  }
  
  
  p{
    margin-top:40px;
    font-size:30px;
    width:50%;
  }
  




a{
    float:left;
    padding:30px;
    text-decoration:none;
    color:white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
    margin-left: 20px;
}

h1{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
}



p{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}


#aboutMe{
    position:relative;
    margin-top: 0px;
    background-color: #ff007f;
}

#aboutMe.p{
    font-family: 'Roboto', sans-serif;
}

section{
    height: 450px;
}
*/
